body {
    font-family: sans-serif;
}

.pageTop, .footer {
    background-color: #1F2937;
}

.imgInfo, .signUp {
    background-color: white;
}

.pageTop {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 140px;

}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 20px;
}

.header a {
    text-decoration: none;
    color: #E5e7eb;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.intro {
    margin-top: 80px;
    display: flex;

}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 40px;
    gap: 30px;
}

.mainText {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left button {
    margin-top: 10px;
    background-color: #3882F8;
    color: #F9FAF8;
    max-width: 135px;
    flex: 0;
    padding: 7px;
    padding-top: 8px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.imgPlaceholder {
    flex: 1;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

.imgInfo {
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
}
.imgs {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.imgHeader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}

.roundBox {
    border: 2px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 12px;
    flex: auto;
}

.q {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    margin-bottom: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

.qAuthor {
    text-align: end;
    font-weight: 800;
    color: black;
    font-size: 16px;
}



.footer {
    padding: 25px;
    text-align: center;
    color: white;
}

.bluebox {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 8px;
}

.bold {
    font-weight: bold;
    color:#F9FAF8;
}

.norm {
    color:#F9FAF8;
    font-weight:500;
}
.signUp {
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.bluebox button {
    background-color: #3882F8;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    width: 100px;
    height: 30px;
}
